@model PersonalFinance.Domain.Entities.Accounts

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Accounts</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Limit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Limit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InterestRate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InterestRate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DueDay)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DueDay)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ClosureDay)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClosureDay)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InitialBalance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InitialBalance)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Balance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Balance)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UseInGlobalBalance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UseInGlobalBalance)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
